
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: white;
    padding: 10px;
    padding-right: 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    width: 15%;
    height: auto;
    border-radius: 11px;
    margin-left: 30px;
}

.navbar-collapse {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: rgb(77, 71, 71);
    font-weight: 400;
    font-size: 20px;
}

.nav-link:hover {
    color: #539091;
}

.jumbotron {
    color: white;
    padding: 200px 20px;
    min-height: 40%;
    text-align: center;
}

.homebackground {
    background-image: url('Images/homepage.jpg');
    background-position: center;
    background-size: inherit;
}

.medical-services-background {
    background-image: url(Images/medicalbackground.jpg);
    background-position: center;
    background-size: inherit;
}

.dental-services-background {
    background-image: url(Images/dentalbackground.jpg);
    background-position: center;
    background-size: inherit;
}

.jumbotron h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 1.2rem;
}

.container {
    color: rgb(77, 71, 71);
    width: 80%;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 15px;
}

.btn {
    background-color:rgb(80, 169, 163);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

.btn:hover {
    background-color: #539091;
}

iframe{
    width: 100%; 
  }
  
  #modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
  }
  
  .modalcontent {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translate(-50%, 0);
    background: #fff;
    width: 85%;
    padding: 10px;
  }

.footer {
    background-color: rgb(80, 169, 163);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.footer p {
    margin: 0;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }